@font-face {
    font-family: "vazir";
    src: url("../vendor/fonts/Vazir.ttf");
}

@font-face {
    font-family: "vazir-medium";
    src: url("../vendor/fonts/Vazir-Medium.ttf");
}

@font-face {
    font-family: "vazir-bold";
    src: url("../vendor/fonts/Vazir-Bold.ttf");
}

@font-face {
    font-family: "vazir-light";
    src: url("../vendor/fonts/Vazir-Light.ttf");
}

@font-face {
    font-family: "vazir-thin";
    src: url("../vendor/fonts/Vazir-Thin.ttf");
}